$chardonnay: #fcfbf2;

$lightestblue: #EFEFFF;
$lightblue: #D9EBFF;
$mediumblue: #54799B;
$darkblue: #54799B;

$lightgray: #fcf2f2;
$darkgray: #a9a9a9;

$yellowgreen: #CAE3FF;

$lightred: #fcf2f2;
$burgundy: #9F3A3A;
$lightwarningred: #B33A3A;
$warningred: #cf2020;

$rosewhiter: #fff9f9;
$rosewhite: #f7eaea;

